* {
    box-sizing: border-box;
}

body {
    background-image: url('https://images.unsplash.com/photo-1500073584060-670c36a703f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNub3clMjBuaWdodCUyMGRlc2t0b3AlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.snow {

    position: fixed;
    top: -1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to {
       transform: translateY(105vh); 
    }
}